<ion-header>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Início</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content>
  <ion-searchbar animated="true" placeholder="Pesquisar"  ></ion-searchbar>
  <h2>
    República do Sol
  </h2>
  <ion-slides pager="true" scrollbar ="true" [options]="slideOpts">
    <ion-slide>
      <img  src="../../assets/rep2.jpg" alt="Foto de Republica">
    </ion-slide>
    <ion-slide>
      <img  src="../../assets/bedroom-rep2.jpg" alt="Foto de quarto da Republica">

    </ion-slide>
    
  </ion-slides>
  <p>Veja mais</p>
  <h2>
    República das Flores
  </h2>
  <ion-slides pager="true" scrollbar ="true" [options]="slideOpts">
    <ion-slide>
      <img  src="../../assets/rep3.jpg" alt="Foto de Republica">
    </ion-slide>
    <ion-slide>
      <img  src="../../assets/bedroom-rep3.jpg" alt="Foto de quarto da Republica">

    </ion-slide>
    
  </ion-slides>
  <p>Veja mais</p>
</ion-content>