h2{
    text-align: center;
    font-size: larger;
    color: #cd5360;
}
img{
    height: 25vh;
    width: 65vw;
}
p{
    text-align: center;
}
ion-slides{
    --bullet-background: primary;
    --bullet-background-active: #cd5360;
}
