<ion-header>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Início</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content>
  <ion-searchbar animated="true" placeholder="Pesquisar"></ion-searchbar>
  <h1>Repúblicas Disponíveis</h1>
  <p>Arraste para o lado e veja mais fotos</p>

  <ion-card *ngFor = "let republic of republics">
    <h2> {{republic.name}} </h2>
    
    <ion-slides pager="true" scrollbar ="true" [options]="slideOpts">
      <ion-slide>
        <img [src]=republic.imageRepublic alt = "Foto da Republica">
      </ion-slide>
      <ion-slide>
        <img  [src]=republic.imageBedroom alt="Foto de quarto da Republica">
      </ion-slide>
    </ion-slides>

    <p class="preco">R${{republic.price}}</p>
    <p>{{republic.neighborhood}} - {{republic.city}}</p>
    <p>Saiba mais</p>
     
  </ion-card>
  
</ion-content>