h1{
    text-align: center;
    font-weight: 300;
}
h2{
    text-align: center;
    font-size: x-large;
    color: #cd5360;
    font-weight: bold;
}
img{
    height: 25vh;
    width: 68vw;
}
p{
    text-align: center;
}
ion-slides{
    --bullet-background: primary;
    --bullet-background-active: #cd5360;
}
.preco{
    color: blueviolet;
}
ion-content{
    --background:#f6efa6 ;
}

