<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Favoritos</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content>
  <h2>Suas Repúblicas Favoritas</h2>
  <ion-card class="welcome-card">
    <ion-card-header>
      <img src="../../assets/republica1.jpg" alt="Foto de República" class="imgRepublica">
      <ion-card-title class="title">República Céu Azul</ion-card-title>
      <ion-card-subtitle class="title sub">Rio de Janeiro</ion-card-subtitle>
      <ion-card-subtitle class="title sub">R$300,00</ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>
      <p>Vaga em República com ótima localização, perto da universidade e com mercados e farmácias ao redor.  </p>
      <p class="saibaMais">Veja mais</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-header>
      <img src="../../assets/rep6.jpg" alt="Foto de República" class="imgRepublica">
      <ion-card-title class="title">República Doce Lar</ion-card-title>
      <ion-card-subtitle class="title sub">Niterói</ion-card-subtitle>
      <ion-card-subtitle class="title sub">R$350,00</ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>
      <p>Vaga em República com quarto confortável e aconchegante. Fica em bairro tranquilo e bem localizado.  </p>
      <p class="saibaMais">Veja mais</p>
    </ion-card-content>
  </ion-card>

</ion-content>

